.navbar-brand {
    font-size: 40px;   
}

body {
    background-image: url(/Users/brandonblanks/Boostrap-Portfolio/assets/images/elizabeth-lies-190771-unsplash.jpg);

font-size: 30px;
color: navy;
}




